@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Open-Sans-regular/Open-Sans-regular.eot');
  src: url('../fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Open Sans'),
       local('Open-Sans-regular'),
       url('../fonts/Open-Sans-regular/Open-Sans-regular.woff2') format('woff2'),
       url('../fonts/Open-Sans-regular/Open-Sans-regular.woff') format('woff'),
       url('../fonts/Open-Sans-regular/Open-Sans-regular.ttf') format('truetype'),
       url('../fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Open-Sans-700/Open-Sans-700.eot');
  src: url('../fonts/Open-Sans-700/Open-Sans-700.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Bold'),
       local('Open-Sans-700'),
       url('../fonts/Open-Sans-700/Open-Sans-700.woff2') format('woff2'),
       url('../fonts/Open-Sans-700/Open-Sans-700.woff') format('woff'),
       url('../fonts/Open-Sans-700/Open-Sans-700.ttf') format('truetype'),
       url('../fonts/Open-Sans-700/Open-Sans-700.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Ubuntu-Mono-regular/Ubuntu-Mono-regular.eot');
  src: url('../fonts/Ubuntu-Mono-regular/Ubuntu-Mono-regular.eot?#iefix') format('embedded-opentype'),
       local('Ubuntu Mono'),
       local('Ubuntu-Mono-regular'),
       url('../fonts/Ubuntu-Mono-regular/Ubuntu-Mono-regular.woff2') format('woff2'),
       url('../fonts/Ubuntu-Mono-regular/Ubuntu-Mono-regular.woff') format('woff'),
       url('../fonts/Ubuntu-Mono-regular/Ubuntu-Mono-regular.ttf') format('truetype'),
       url('../fonts/Ubuntu-Mono-regular/Ubuntu-Mono-regular.svg#UbuntuMono') format('svg');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Ubuntu-Mono-700/Ubuntu-Mono-700.eot');
  src: url('../fonts/Ubuntu-Mono-700/Ubuntu-Mono-700.eot?#iefix') format('embedded-opentype'),
       local('Ubuntu Mono Bold'),
       local('Ubuntu-Mono-700'),
       url('../fonts/Ubuntu-Mono-700/Ubuntu-Mono-700.woff2') format('woff2'),
       url('../fonts/Ubuntu-Mono-700/Ubuntu-Mono-700.woff') format('woff'),
       url('../fonts/Ubuntu-Mono-700/Ubuntu-Mono-700.ttf') format('truetype'),
       url('../fonts/Ubuntu-Mono-700/Ubuntu-Mono-700.svg#UbuntuMono') format('svg');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Ubuntu-Mono-italic/Ubuntu-Mono-italic.eot');
  src: url('../fonts/Ubuntu-Mono-italic/Ubuntu-Mono-italic.eot?#iefix') format('embedded-opentype'),
       local('Ubuntu Mono Italic'),
       local('Ubuntu-Mono-italic'),
       url('../fonts/Ubuntu-Mono-italic/Ubuntu-Mono-italic.woff2') format('woff2'),
       url('../fonts/Ubuntu-Mono-italic/Ubuntu-Mono-italic.woff') format('woff'),
       url('../fonts/Ubuntu-Mono-italic/Ubuntu-Mono-italic.ttf') format('truetype'),
       url('../fonts/Ubuntu-Mono-italic/Ubuntu-Mono-italic.svg#UbuntuMono') format('svg');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/Ubuntu-Mono-700italic/Ubuntu-Mono-700italic.eot');
  src: url('../fonts/Ubuntu-Mono-700italic/Ubuntu-Mono-700italic.eot?#iefix') format('embedded-opentype'),
       local('Ubuntu Mono Bold Italic'),
       local('Ubuntu-Mono-700italic'),
       url('../fonts/Ubuntu-Mono-700italic/Ubuntu-Mono-700italic.woff2') format('woff2'),
       url('../fonts/Ubuntu-Mono-700italic/Ubuntu-Mono-700italic.woff') format('woff'),
       url('../fonts/Ubuntu-Mono-700italic/Ubuntu-Mono-700italic.ttf') format('truetype'),
       url('../fonts/Ubuntu-Mono-700italic/Ubuntu-Mono-700italic.svg#UbuntuMono') format('svg');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Raleway-500/Raleway-500.eot');
  src: url('../fonts/Raleway-500/Raleway-500.eot?#iefix') format('embedded-opentype'),
       local('Raleway Medium'),
       local('Raleway-500'),
       url('../fonts/Raleway-500/Raleway-500.woff2') format('woff2'),
       url('../fonts/Raleway-500/Raleway-500.woff') format('woff'),
       url('../fonts/Raleway-500/Raleway-500.ttf') format('truetype'),
       url('../fonts/Raleway-500/Raleway-500.svg#Raleway') format('svg');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.eot');
  src: url('../fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.eot?#iefix') format('embedded-opentype'),
       local('Source Sans Pro'),
       local('Source-Sans-Pro-regular'),
       url('../fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.woff2') format('woff2'),
       url('../fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.woff') format('woff'),
       url('../fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.ttf') format('truetype'),
       url('../fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.svg#SourceSansPro') format('svg');
}

@font-face {
  font-family: 'Nexa Bold';
  src: url('../fonts/Nexa Bold.otf');
}