{{ partial "header.html" . }}
<div class="main column">
    <div class="container">
        <div class="content">
            {{ $globalTitle := .Title}}
            <div class="markdown">
                {{ range .Data.Pages }}
                    {{ if eq .Title $globalTitle }}
                        {{ .Content }}
                    {{ end }}
                {{ end }}
            </div>
            <div class="posts">
            {{ if ne (len (where .Data.Pages "Title" "!=" $globalTitle)) 0}}
                <div class="page-heading">{{ .Title }}</div>
                <ul>
                    {{ range .Data.Pages.ByPublishDate }}
                        {{ if ne .Title $globalTitle }}
                            {{ partial "li.html" . }}
                        {{ end }}
                    {{ end }}
                </ul>
            {{ end }}
            </div>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
