a {
    color: {{ .Param "colors.identifier" }};
}

a:hover {
    color: {{ .Param "colors.identifier_dark" }};
}

div.main .content .markdown, div.header .name, div.header nav ul a:hover {
    color: {{ .Param "colors.foreground" }};
}

div.header nav ul a {
    color: {{ .Param "colors.trivial" }};
}

div.main .content .markdown code {
    background-color: {{ .Param "colors.background" }};
    color: {{ .Param "colors.identifier" }};
}

div.main .content .markdown pre, div.main .content .markdown pre code {
    background-color: {{ .Param "colors.background_dark" }};
    color: {{ .Param "colors.code" }};
}

.hljs, .hljs-subst, .hljs-variable {
    color: {{ .Param "colors.code" }};
}

.hljs-type {
    color: {{ .Param "colors.type" }};
}

.hljs-quote {
    color: {{ .Param "colors.special" }};
}

.hljs-string, .hljs-number, .hljs-selector-id, .hljs-selector-class, .hljs-template-tag, .hljs-deletion {
    color: {{ .Param "colors.value" }};
}

.hljs-comment {
    color: {{ .Param "colors.trivial" }};
}

.hljs-regexp, .hljs-symbol, .hljs-template-variable {
    color: {{ .Param "colors.special" }};
}

.hljs-keyword, .hljs-attribute, .hljs-meta-keyword, .hljs-doctag, .hljs-name {
    color: {{ .Param "colors.type" }};
}

.hljs-link, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-title, .hljs-section {
    color: {{ .Param "colors.statement" }};
}

.hljs-built_in, .hljs-bullet, .hljs-code, .hljs-addition {
    color: {{ .Param "colors.type" }};
}

.ssk {
    background-color: {{ .Param "colors.trivial" }};
}
