{{ if .Site.Params.highlightjs }}
  <script src="{{ .Site.BaseURL }}js/highlight.min.js" defer></script>
  {{ range .Site.Params.highlightjslanguages }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/languages/{{.}}.min.js" defer></script>
  {{ end }}
{{ end }}

{{ if .Site.Params.progressively }}
  <script src="{{ .Site.BaseURL }}js/progressively.min.js" defer></script>
{{ end }}

{{ template "_internal/google_analytics_async.html" . }}

<script>
  window.onload = function() {
    {{ if .Site.Params.highlightjs }}
      hljs.initHighlighting();
    {{ end }}
    {{ if .Site.Params.progressively }}
      progressively.init({delay: 30, throttle: 50});
    {{ end }}
  };
</script>

<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,700,700i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700" rel="stylesheet">

