{{ if not .Site.Params.disablefancyfonts }}
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Raleway:400,600,700', 'Merriweather:300,300i,700,700i', 'Ubuntu+Mono:400,700']
    }
  });
</script>
{{ end }}

{{ if .Site.Params.highlightjs }}
  <script src="{{ .Site.BaseURL }}js/highlight.min.js" defer></script>
  {{ range .Site.Params.highlightjslanguages }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/languages/{{.}}.min.js" defer></script>
  {{ end }}
{{ end }}

{{ if .Site.Params.progressively }}
  <script src="{{ .Site.BaseURL }}js/progressively.min.js" defer></script>
{{ end }}

{{ if .Site.Params.share }}
  <script src="{{ .Site.BaseURL }}js/social-share-kit.min.js" defer></script>
{{ end }}

{{ template "_internal/google_analytics_async.html" . }}

<script>
  window.onload = function() {
    {{ if .Site.Params.highlightjs }}
      hljs.initHighlighting();
    {{ end }}
    {{ if .Site.Params.progressively }}
      progressively.init({delay: 30, throttle: 50});
    {{ end }}
    {{ if .Site.Params.share }}
      SocialShareKit.init({
        twitter: {
            text: '',
            {{ if .Site.Params.twitter }}via: '{{ .Site.Params.twitter }}'{{ end }}
        }
      });
    {{ end }}
  };
</script>

{{ if .Site.Params.uselatex }}
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
</script>
<script async type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
{{ end }}
