<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body lang="{{ .Site.Params.lang }}">

{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ if eq $url "" }}
<section class="header header-home"> 
{{ else }}
<section class="header"> 
{{ end }}
    <div class="container">
        <a href="{{ .Site.BaseURL }}"><img class="logo" src="{{ .Site.Params.logofile | absURL }}" /></a>
        <div class="content">
            <a href="{{ .Site.BaseURL }}"><div class="name"><h1>{{ .Site.Title }}</h1></div></a>
            <nav>
                <ul>
                    <a href="{{ .Site.BaseURL }}"><li>Blog</li></a>
                    <a href="{{ .Site.BaseURL }}about/"><li>About</li></a>
                    <a href="{{ .Site.BaseURL }}projects/"><li>Projects</li></a>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="icons">
    <div class="container">
        <div class="content">

        {{ if .Site.Params.github }}
            <a href="{{ .Site.Params.github }}" target="_blank">
                <i class="icon ion-social-github"></i>
            </a>
        {{ end }}
        
        {{ if .Site.Params.twitter }}
            <a href="{{ .Site.Params.twitter }}" target="_blank">
                <i class="icon ion-social-twitter"></i>
            </a>
        {{ end }}

        {{ if .Site.Params.linkedin }}
            <a href="{{ .Site.Params.linkedin }}" target="_blank">
                <i class="icon ion-social-linkedin"></i>
            </a>
        {{ end }}

        {{ if .Site.Params.email }}
            <a href="mailto:{{ .Site.Params.email }}">
                <i class="icon ion-ios-email larger"></i>
            </a>
        {{ end }}

        {{ if .Site.RSSLink }}
            <a href="{{ .Site.RSSLink }}">
                <i class="icon ion-social-rss larger"></i>
            </a>
        {{ end }}
        </div>
    </div>
</section>
