<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body lang="{{ .Site.Params.lang }}">

{{ if .IsPage }}
<section class="header"> 
{{ else }}
<section class="header header-home"> 
{{ end }}
    <div class="container">
        <a href="{{ .Site.BaseURL }}"><img class="logo" src="{{ .Site.Params.logofile | absURL }}" alt="{{ .Site.Title }}Logo"/></a>
        <div class="content">
            <a href="{{ .Site.BaseURL }}"><div class="name"><h1>{{ .Site.Title }}</h1></div></a>
            <nav>
                <ul>
                    <a href="{{ .Site.BaseURL }}blog/"><li>Blog</li></a>
                    {{ range .Site.Sections }}
                        {{ range first 1 (where .Pages "Section" "ne" "")}}
                            {{ if ne .Section "blog"}}
                            <a href="{{ .Section | urlize }}"><li>{{ .Section }}</li></a>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                    {{ range where .Site.Pages "Section" ""}}
                        {{ if and (ne .Title "Home") (ne .Title "Blog") (ne .Title .Site.Title) }}
                            <a href="{{ .Permalink }}"><li>{{ .Title }}</li></a>
                        {{ end }}
                    {{ end }}
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="icons">
    <div class="container">
        <div class="content">

        {{ if .Site.Params.github }}
            <a href="{{ .Site.Params.github }}" target="_blank">
                <i class="icon ion-social-github"></i>
            </a>
        {{ end }}
        
        {{ if .Site.Params.twitter }}
            <a href="{{ .Site.Params.twitter }}" target="_blank">
                <i class="icon ion-social-twitter"></i>
            </a>
        {{ end }}

        {{ if .Site.Params.linkedin }}
            <a href="{{ .Site.Params.linkedin }}" target="_blank">
                <i class="icon ion-social-linkedin"></i>
            </a>
        {{ end }}

        {{ if .Site.Params.email }}
            <a href="mailto:{{ .Site.Params.email }}">
                <i class="icon ion-ios-email larger"></i>
            </a>
        {{ end }}

        {{ if .Site.RSSLink }}
            <a href="{{ .Site.RSSLink }}">
                <i class="icon ion-social-rss larger"></i>
            </a>
        {{ end }}
        </div>
    </div>
</section>
