{{ partial "head_includes.html" . }}
<body>
    <section class="main">
        <img src={{ .Site.Params.logofile }} style="max-width:300px" alt="logo"></img>
        <div class="container f04">
            <div class="content">
                <section class="header">
                    <div class="name">404</div>
                </section>
                <div class="detail">The page you were looking for does not exist.</div>
                <div class="suggestion"><a href="/">Visit the home page</a></div>
            </div>
        </div>
    </section>
</body>

