<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>404 - Page not found</title>
{{ partial "head_includes.html" . }}
<style>
    {{ partial "css/404.css" . | safeCSS }}
</style>
</head>
<body>
    <img src={{ .Site.Params.logofile }} class="logo" alt="logo" />
    <div class="container f04">
        <div class="content">
            <div class="header column">
                <div class="name">404</div>
            </div>
            <div class="detail">The page you were looking for does not exist.</div>
            <div class="suggestion"><a href="/">Visit the home page</a></div>
        </div>
    </div>
</body>
</html>
