{{ partial "header.html" . }}
    <section class="container-fluid main">
      <!-- <section class="main"> -->

        <div class="content">
            {{ range where .Data.Pages "Title" "Home" }}
                <div class="markdown">
                {{ .Content }}
                </div>
            {{ end }}

            {{ if isset .Site.Params "latestpostcount" }}
                <div class="posts">
                {{ $nbPosts := len (where .Data.Pages "Type" "blog") }}
                {{ if gt $nbPosts 0 }}
                    <div class="page-heading">Latest Posts</div>
                    <ul>
                    {{ range (first .Site.Params.latestpostcount (where .Pages "Type" "blog")).GroupByDate "Jan, 2006" "desc" }}
                        <li class="groupby">{{ .Key }}</li>
                        {{ range .Pages.ByPublishDate }}
                            {{ partial "li.html" . }}
                        {{ end }}
                    {{ end }}
                    </ul>

                    {{ if gt $nbPosts .Site.Params.latestpostcount }}
                        <a href="./posts/" class="see-more">See more ...</a>
                    {{ end }}
                {{ end }}
                </div>
            {{ end }}

            <div class="best-posts">
            {{ $nbPosts := len (where .Data.Pages "Params.best" true) }}
            {{ if gt $nbPosts 0 }}
                <div class="page-heading">Best posts</div>
                <ul>
                {{ range .Data.Pages.ByPublishDate }}
                    {{ if eq .Params.best true }}
                        {{ partial "li.html" . }}
                    {{ end }}
                {{ end }}
                </ul>
            {{ end }}
            </div>
        </div>
</section>
<!-- </div> -->

{{ partial "footer.html" . }}
