{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            {{ range where .Data.Pages "Title" "Home" }}
                <div class="markdown">
                {{ .Content }}
                </div>
            {{ end }}

            {{ $nbPosts := len (where .Data.Pages "Section" "blog") }}
            {{ if gt $nbPosts 0 }}
                <div class="page-heading">Latest posts</div>
                <ul>
                {{ range first .Site.Params.latestpostcount (where .Data.Pages "Section" "blog") }}
                    {{ partial "li.html" . }}
                {{ end }}
                </ul>

                {{ if gt $nbPosts .Site.Params.latestpostcount }}
                    <a href="./blog/" class="see-more">See more ...</a>
                {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ partial "footer.html" . }}

