{{ partial "header.html" . }}
<div class="main column">
    <div class="container">
        <div class="content">
            <div class="posts">
                <div class="page-heading">Blog</div>
                <ul>
                    {{ range .Data.Pages.GroupByDate "Jan, 2006" "desc"}}
                        <li class="groupby">{{ .Key }}</li>
                        {{ range sort .Pages "Date" "desc" }}
                            {{ partial "li.html" . }}
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
