{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            <div class="page-heading">Blog</div>
            <ul>
                {{ range .Data.Pages.GroupByDate "Jan, 2006" "desc"}}
                    <li class="groupby">{{ .Key }}</li>
                    {{ range .Pages.ByPublishDate }}
                        {{ partial "li.html" . }}
                    {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}
